@tailwind base;
@tailwind components;
@tailwind utilities;

/* モーダル・サイドメニューの初期非表示 */
[x-cloak] {
    display: none !important;
}

.scrollbar{
    scrollbar-width: thin;
    scrollbar-color: #ccc white;
}