/*
FullCalendar styles
*/

/* base */
.fc {
    font-family: "Noto Sans JP";
    color: #3d3d3d;
}

/* toolbar */
.fc .fc-toolbar-chunk div {
    display: flex; /* 年月とprev nextを横並び */
    align-items: center;
}
.fc .fc-toolbar-title {
    font-weight: 600;
    font-size: 32px;
    margin-right: 4px;
}
.fc .fc-prev-button,
.fc .fc-next-button {
    background-color: #ffb700;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 5px 4px 0;
}
.fc .fc-prev-button:hover,
.fc .fc-prev-button:active,
.fc .fc-prev-button:focus-visible,
.fc .fc-next-button:hover,
.fc .fc-next-button:active,
.fc .fc-next-button:focus-visible {
    background-color: #ffa000 !important;
    border: none !important;
    box-shadow: none !important;
}
.fc .fc-prev-button:focus,
.fc .fc-next-button:focus {
    box-shadow: none !important;
}
.fc-button-group {
    display: grid !important;
    grid-template-columns: repeat(2, auto); /* 横2列 */
    gap: 4px; /* ボタン間の隙間 */
    column-gap: 16px; /* 縦の隙間 */
}
.fc .fc-monthButton-button,
.fc .fc-weekButton-button,
.fc .fc-dishesButton-button,
.fc .fc-babyfoodsButton-button {
    background-color: #fff;
    color: #ffb700;
    font-weight: bold;
    border: 2px solid #ffb700 !important;
    border-radius: 10px !important;
    margin: 2px;
    display: flex;
    gap: 4px;
}
.fc .fc-monthButton-button:hover,
.fc .fc-monthButton-button:active,
.fc .fc-monthButton-button:focus,
.fc .fc-monthButton-button:visited,
.fc .fc-weekButton-button:hover,
.fc .fc-weekButton-button:active,
.fc .fc-weekButton-button:focus,
.fc .fc-weekButton-button:visited,
.fc .fc-dishesButton-button:hover,
.fc .fc-dishesButton-button:active,
.fc .fc-dishesButton-button:focus,
.fc .fc-dishesButton-button:visited,
.fc .fc-babyfoodsButton-button:hover,
.fc .fc-babyfoodsButton-button:active,
.fc .fc-babyfoodsButton-button:focus,
.fc .fc-babyfoodsButton-button:visited {
    background-color: #fff999 !important;
    color: #ffb700 !important;
    outline: none !important;
    box-shadow: none !important;
}
.fc-monthButton-button.active,
.fc-weekButton-button.active,
.fc-dishesButton-button.active,
.fc-babyfoodsButton-button.active {
    background-color: #ffb700;
    color: #ffffff;
}
.fc .fc-monthButton-button.active:hover,
.fc .fc-monthButton-button.active:active,
.fc .fc-monthButton-button.active:focus,
.fc .fc-monthButton-button.active:visited,
.fc .fc-weekButton-button.active:hover,
.fc .fc-weekButton-button.active:active,
.fc .fc-weekButton-button.active:focus,
.fc .fc-weekButton-button.active:visited,
.fc .fc-dishesButton-button.active:hover,
.fc .fc-dishesButton-button.active:active,
.fc .fc-dishesButton-button.active:focus,
.fc .fc-dishesButton-button.active:visited,
.fc .fc-babyfoodsButton-button.active:hover,
.fc .fc-babyfoodsButton-button.active:active,
.fc .fc-babyfoodsButton-button.active:focus,
.fc .fc-babyfoodsButton-button.active:visited {
    background-color: #ffa000 !important;
    border-color: #ffa000 !important;
    color: #ffffff !important;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    margin-left: 2px; /*デフォルトの縦軸ずれを修正 */
}

/* calendar */
.fc .fc-daygrid-day-top {
    flex-direction: row; /* 日付をデフォルト右から左配置へ */
}
.fc .fc-daygrid-day-number {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; /* 日付とカスタムリンクを両端に */
    font-size: 16px;
}

/* dayGridMonth */
.fc .fc-dayGridMonth-view .fc-daygrid-day-number {
    padding: 3px 0 0 10px;
}
.fc .fc-dayGridMonth-view .fc-daygrid-day-events {
    margin-bottom: 0;
}

/* dayGridWeek */
.fc .fc-dayGridWeek-view .fc-daygrid-day-top {
    width: max-content; /* 日付部分の曜日改行を防ぐ */
}
.fc-dayGridWeek-view .fc-col-header {
    display: none; /* 日付のテーブルヘッダーを非表示 */
}
.fc-dayGridWeek-view .fc-daygrid-body .fc-daygrid-day {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    min-height: 80px !important;
}
.fc-dayGridWeek-view .fc-daygrid-day-frame {
    display: flex; /* 日付＆カスタムリンクとイベントを横並び */
    align-items: center;
}
.fc-dayGridWeek-view .fc-day-sun {
    border-top: 1px solid #ddd !important;
}
.fc-dayGridWeek-view .fc-scrollgrid {
    border: none !important;
}
.fc-dayGridWeek-view .fc-day {
    border: none;
}
.fc-dayGridWeek-view .fc-theme-standard td {
    border: none;
}
.fc-dayGridWeek-view .fc-scrollgrid-section > td {
    border: none !important;
}
.fc-dayGridWeek-view .fc-scrollgrid-section {
    height: 0 !important;
}
.fc-dayGridWeek-view .fc-scrollgrid-sync-table {
    height: auto !important;
}
.fc-dayGridWeek-view .fc-scroller,
.fc-dayGridWeek-view .fc-scroller-harness {
    overflow: visible !important;
}
.fc-dayGridWeek-view .fc-daygrid-day-top {
    font-weight: bold;
}

/* events */
.fc .fc-h-event {
    background-color: #ffb540;
    border: none;
    font-size: 0.8rem;
    width: max-content;
    padding: 2px;
    margin: 3px 0 3px 5px !important;
}
.fc .fc-event-main {
    color: #3d3d3d;
}
