/* base */
.fc {
    font-family: "Noto Sans JP";
    color: #3d3d3d;
}

/* toolbar */
@media screen and (max-width: 768px) {
    .fc .fc-header-toolbar {
        display: block;
        margin-bottom: 4px !important;
    }
}
.fc .fc-toolbar-chunk div {
    display: flex; /* 年月とprev nextを横並び */
    align-items: center;
}
@media screen and (max-width: 768px) {
    .fc .fc-toolbar-chunk div {
        margin-bottom: 8px;
        justify-content: center;
        gap: 16px;
    }
}
.fc .fc-toolbar-title {
    font-weight: 600;
    font-size: 32px;
    margin-right: 4px;
}
@media screen and (max-width: 768px) {
    .fc .fc-toolbar-title {
        font-size: 24px;
    }
}
.fc .fc-prev-button,
.fc .fc-next-button {
    background-color: #ffb700;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 5px 4px 0;
}
.fc .fc-prev-button:hover,
.fc .fc-prev-button:active,
.fc .fc-prev-button:focus-visible,
.fc .fc-next-button:hover,
.fc .fc-next-button:active,
.fc .fc-next-button:focus-visible {
    background-color: #ffa000 !important;
    border: none !important;
    box-shadow: none !important;
}
.fc .fc-prev-button:focus,
.fc .fc-next-button:focus {
    box-shadow: none !important;
}
.fc-button-group {
    display: grid !important;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    column-gap: 16px;
}
@media screen and (max-width: 768px) {
    .fc-button-group {
        grid-template-columns: repeat(4, auto);
    }
}
.fc .fc-monthButton-button,
.fc .fc-weekButton-button,
.fc .fc-dishesButton-button,
.fc .fc-babyFoodsButton-button {
    background-color: #fff;
    color: #ffb700;
    font-weight: bold;
    border: 2px solid #ffb700 !important;
    border-radius: 10px !important;
    margin: 2px;
    display: flex;
    gap: 4px;
}
@media screen and (max-width: 768px) {
    .fc .fc-monthButton-button,
    .fc .fc-weekButton-button,
    .fc .fc-dishesButton-button,
    .fc .fc-babyFoodsButton-button {
        font-size: 14px;
        padding: 4px 8px;
        align-items: center;
        width: max-content;
    }
}
.fc .fc-monthButton-button:hover,
.fc .fc-monthButton-button:active,
.fc .fc-monthButton-button:focus,
.fc .fc-monthButton-button:visited,
.fc .fc-weekButton-button:hover,
.fc .fc-weekButton-button:active,
.fc .fc-weekButton-button:focus,
.fc .fc-weekButton-button:visited,
.fc .fc-dishesButton-button:hover,
.fc .fc-dishesButton-button:active,
.fc .fc-dishesButton-button:focus,
.fc .fc-dishesButton-button:visited,
.fc .fc-babyFoodsButton-button:hover,
.fc .fc-babyFoodsButton-button:active,
.fc .fc-babyFoodsButton-button:focus,
.fc .fc-babyFoodsButton-button:visited {
    background-color: #fff999 !important;
    color: #ffb700 !important;
    outline: none !important;
    box-shadow: none !important;
}
.fc-monthButton-button.active,
.fc-weekButton-button.active,
.fc-dishesButton-button.active,
.fc-babyFoodsButton-button.active {
    background-color: #ffb700;
    color: #ffffff;
}
.fc .fc-monthButton-button.active:hover,
.fc .fc-monthButton-button.active:active,
.fc .fc-monthButton-button.active:focus,
.fc .fc-monthButton-button.active:visited,
.fc .fc-weekButton-button.active:hover,
.fc .fc-weekButton-button.active:active,
.fc .fc-weekButton-button.active:focus,
.fc .fc-weekButton-button.active:visited,
.fc .fc-dishesButton-button.active:hover,
.fc .fc-dishesButton-button.active:active,
.fc .fc-dishesButton-button.active:focus,
.fc .fc-dishesButton-button.active:visited,
.fc .fc-babyFoodsButton-button.active:hover,
.fc .fc-babyFoodsButton-button.active:active,
.fc .fc-babyFoodsButton-button.active:focus,
.fc .fc-babyFoodsButton-button.active:visited {
    background-color: #ffa000 !important;
    border-color: #ffa000 !important;
    color: #ffffff !important;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    margin-left: 2px; /*デフォルトの縦軸ずれを修正 */
}

/* calendar */
.fc .fc-daygrid-day-top {
    flex-direction: row; /* 日付をデフォルト右から左配置へ */
}
.fc .fc-daygrid-day-number {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    .fc .fc-daygrid-day-number {
        font-size: 14px;
    }
    .fc-col-header-cell-cushion {
        font-size: 14px;
    }
}

/* dayGridMonth */
.fc .fc-dayGridMonth-view .fc-daygrid-day-number {
    padding-left: 8px;
}
.fc .fc-dayGridMonth-view .fc-daygrid-day-events {
    margin-bottom: 0;
}

/* dayGridWeek */
.fc .fc-dayGridWeek-view .fc-daygrid-day-top {
    width: max-content; /* 日付部分の曜日改行を防ぐ */
}
.fc-dayGridWeek-view .fc-col-header {
    display: none; /* 日付のテーブルヘッダーを非表示 */
}
.fc-dayGridWeek-view .fc-daygrid-body .fc-daygrid-day {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    min-height: 80px !important;
}
@media screen and (max-width: 768px) {
    .fc-dayGridWeek-view .fc-daygrid-body .fc-daygrid-day {
        padding: 4px;
        min-height: 10px !important;
    }
    .fc-dayGridWeek-view .fc-daygrid-body .fc-daygrid-day-number {
        display: flex;
        gap: 8px;
        padding: 0;
    }
}
.fc-dayGridWeek-view .fc-daygrid-day-frame {
    display: flex; /* 日付＆カスタムリンクとイベントを横並び */
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .fc-dayGridWeek-view .fc-daygrid-day-frame {
        display: block; /* 日付＆カスタムリンクとイベントを縦並び */
        align-items: center;
    }
}
.fc-dayGridWeek-view .fc-day-sun {
    border-top: 1px solid #ddd !important;
}
.fc-dayGridWeek-view .fc-scrollgrid {
    border: none !important;
}
.fc-dayGridWeek-view .fc-day {
    border: none;
}
.fc-dayGridWeek-view .fc-theme-standard td {
    border: none;
}
.fc-dayGridWeek-view .fc-scrollgrid-section > td {
    border: none !important;
}
.fc-dayGridWeek-view .fc-scrollgrid-section {
    height: 0 !important;
}
.fc-dayGridWeek-view .fc-scrollgrid-sync-table {
    height: auto !important;
}
.fc-dayGridWeek-view .fc-scroller,
.fc-dayGridWeek-view .fc-scroller-harness {
    overflow: visible !important;
}
.fc-dayGridWeek-view .fc-daygrid-day-top {
    font-weight: bold;
}
.fc-dayGridWeek-view .fc-daygrid-day-events {
    margin-bottom: 0 !important;
}
@media screen and (max-width: 768px) {
    .fc-dayGridWeek-view .fc-daygrid-day-events {
        min-height: 20px !important;
        width: 100%;
    }
}

/* events */
.fc .fc-h-event {
    text-align: center;
    margin: 3px 5px 3px 5px !important;
    padding: 2px 4px;
    font-size: 0.8rem;
    min-width: 80px;
    width: max-content;
    border: none;
    border-radius: 100px;
}
.fc .fc-event-main {
    color: #3d3d3d;
    font-weight: 600;
    font-size: 12px;
}
@media screen and (max-width: 1024px) {
    .fc .fc-dayGridMonth-view .fc-h-event {
        width: inherit;
        text-wrap: initial;
        text-align: left;
        border-radius: 8px;
    }
}
@media screen and (max-width: 768px) {
    .fc .fc-dayGridMonth-view .fc-h-event {
        margin: 3px 5px 3px 5px !important;
        padding: 2px 4px;
        min-width: 0;
        line-height: 1.5;
    }
    .fc .fc-dayGridWeek-view .fc-h-event {
        margin: 3px 5px 3px 5px !important;
        padding: 2px 4px;
        min-width: 0;
        width: inherit;
        border-radius: 8px;
        text-wrap: initial;
        text-align: left;
        line-height: 1.5;
    }
}
